@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}
:root{
  --font-family: 'Poppins', sans-serif;
  /* --font-family: 'Tilt Prism', cursive;
  --font-family: 'Roboto', sans-serif; */
  
}
body{
    overflow-x: hidden;
}
.bar{
    margin-top: 1%;
    margin-right: 2%;
    display: inline-block;
}
.header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999;
    background-color: rgb(47, 47, 46);
   
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
   }
   .dropdown-content #h2dd{
    color: white;
   }
   .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #c92525;
    min-width: 230px;
    min-height: 150px;
    box-shadow: 10px 15px 20px #2f2f2f;
    padding: 25px 30px 30px 30px;
    border-radius: 4px;
   }
   .dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 1s ease-in-out;
   }
   @keyframes fadeIn {
    from {
     opacity: 0;
     transform: translateY(-10px);
    }
    to {
     opacity: 1;
     transform: translateY(0);
    }
   }
   a{
    text-decoration: none;
   }
   #bar{
    font-size: 25px;
   }
.banner{
    width: 100%;
    background: linear-gradient(rgba(125, 122, 124, 0.1), #2f2f2f), url("../images/PGronaldo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 580px;
}
.banner-content{
    text-align: justify;
    margin-left: 5%;
    color: white;
    outline: 2%;
    -webkit-text-stroke: 1px white;
}
#content-text{
    text-align: center;
    font-size: 70px;
    padding-top: 30px;
}
.banner-content #h4{
    font-size: 25px;
}
.banner-content #welcome{
    font-size: 65px;
    color: white;
    padding-top: 120px;
    padding-left: 20px;
    text-align: left;
    white-space: nowrap;
}
.banner-content #wlcm-note{
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 0px white;
}
#wlcm-btn{
    font-size: 20px;
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid green;
    background-color: green;
    color: white;
}
.banner-content h4{
    font-size: 25px;
}

.Ads img{
    padding-top: 4px;
    height: 200px;
    width: 68%;
    margin-left: 16%;
}

.premium-con{
    background-color: goldenrod;
    width: 35%;
    height: 350px;
    border: 1px solid;
    border-radius: 10%;
    border: 1px solid goldenrod;
    float: right;
    margin-top: 10%;
    margin-right: 32%;
}
.prem-note{
    font-size: 25px;
    text-align: justify;
    font-family: 'Foldit', cursive;
    font-family: 'Playfair', serif;
    margin-top: 2%;
    margin-left: 20%;
    color: white;
    
}
button:hover{
    transform: scale(1.1);
}
#btn5{
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 20px;
    border: 1px solid goldenrod;
    padding: 10px 10px 10px 10px;
    background-color: goldenrod;
    color: white;
}
footer{
    width: 100%;
    padding-top: 100px;
    height: 500px;
    background: linear-gradient(rgba(50,50,69, 0.5), #2f2f2f), url("../images/ronaldo.rm.jpg");
    background-repeat: no-repeat;
    background-position: center;

}
.section1{
    width: 24%;
    height: 400px;
    float: left;
}
.section1 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    padding-top:70px;
    margin-left: 20%;
    margin-bottom: 10px;
}
.section1 h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
    margin-left: 20%;
    padding-top: 10px;
}
.section1 #facebook{
    margin-left: 15%;
    margin-top: 10%;
    font-size: 15px;
    border-radius: 50%;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    margin-right: 1%;
}
.section1 #twitter{
    margin-top: 10%;
    font-size: 15px;
    border-radius: 50%;
    padding: 10px;
    color: white;
    margin-right: 1%;
}
.section2{
    width: 20%;
    height: 400px;
    float: left;
}
.section2 h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    padding-top: 90px;
    margin-left: 20%;
    margin-bottom: 10%;
}
.section2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 20%;
    margin-top: 2%;
}
.section2 p a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.section3{
    width: 36%;
    height: 400px;
    float: left;
}
.section3 h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    padding-top: 100px;
    margin-bottom: 2%;
}
.section3 p{
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 7%;
}
.section3 .email{
    width: 60%;
    height: 40px;
    background: #999;
    outline: none;
    border: 1px solid #999;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.section3 .btn{
    width: 25%;
    height: 43px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: maroon;
    color: white;
    border: none;
    margin-left: -1%;
}
.about{
    width: 100%;
    height: 250px;
    background-color: maroon;
    
}
.about h4{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2%;
    color: white;
}
#about-p{
    color: white;
    font-size: 22px;
    font-family: brus;
    text-align: center;
}

/** Media Query For Homepage, Phones**/
@media screen and (max-width: 600px){
    
    .banner{
        height: 350px;
        width: 100%;
    }

    body{
        overflow-x: hidden;
    }
    .banner-content #welcome{
        padding-top: 50px;
        font-size: 26px;
    }

    .banner-content #wlcm-note{
        padding-top: 40px;
        text-align: center;
        font-size: 15px;
        -webkit-text-stroke: -1px white;
    }
    #wlcm-btn{
        font-size: 12px;
    }
    .container{
        width: 100%;
        
    }
    .grid-box {
        height: 200px;
        width: 100%;
        position: relative;
    }
    .Ads img{
        height: 150px;
        width: 90%;
        margin-left: 5%;
    }
    .Ads{
        width: 100%;
    }
    
    footer{
        width: 100%;
        height: 500px;
        background: linear-gradient(rgba(50,50,69, 0.5), #2f2f2f), url("../images/ronaldo.rm.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section3{
        display: none;
    }
    .section1{
        width: 24%;
        height: 100px;
        float: left;
        margin-left: 5%;
        margin-top: -25%;
    }
    .section1 h3{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color: white;
        padding-top:70px;
        margin-left: 20%;
        margin-bottom: 10px;
    }
    .section1 h4{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: white;
        margin-left: 20%;
        padding-top: 10px;
    }
    .section1 #facebook{
        margin-left: 10%;
        margin-top: 10%;
        font-size: 15px;
        border-radius: 50%;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        margin-right: 1%;
    }
    .section1 #twitter{
        margin-top: 10%;
        font-size: 15px;
        border-radius: 20%;
        padding-left: 5px;
        color: white;
        margin-right: -7%;
    }
    
    .section2{
        width: 20%;
        height: 300px;
        float: left;
        margin-left: 5%;
        margin-top: 13%;
    }
    .section2 h4{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color: white;
    }

    .section2 p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;   
    }
    .section2 p a{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
    }
}

@media screen and (min-width: 600px) and (max-width:1024px){
    .banner{
        height: 520px;
    }
    .table-container{
        width: 100%;
        background-color: rgb(241, 236, 230)
    }
    .banner-content #welcome{
        padding-top: 70px;
        font-size: 50px;
    }

    .banner-content #wlcm-note{
        padding-top: 70px;
        text-align: center;
        font-size: 28px;
        font-family: var(--font-family);
        -webkit-text-stroke: -1px white;
    }
    #wlcm-btn{
        font-size: 17px;
    }
    .Ads img{
        height: 200px;
        width: 90%;
        margin-left: 5%;
    }
    
    .section2{
        width: 20%;
        height: 300px;
        float: left;
        padding-top: 100px;
        margin-left: -23%;
    }
    .section1{
        width: 24%;
        height: 300px;
        margin-left: 10%;
        float: left;
        margin-top: -15%;
    }
    .section3{
        width: 36%;
        height: 400px;
        float: left;
        margin-top: 10%;
        font-size: 20px;
        margin-left: 20%;
    }
    #about-p{
        font-size: 15px;
        white-space: nowrap;
    }
    .section1 h3{
        font-size: 30px;
    }
    .footer{
        height: 100%;
    }

}


/** Styling Football Tips Page **/

#foot-wlcm{
    font-size: 80px;
    color: white;
    padding-top: 150px;
    text-align: center;
    
}
.foot-banner{
    text-align: justify;
    padding-left: 50px;
    color: rgb(39, 38, 38);
    outline: 2%;
}
.footballbanner{
    background-color: aquamarine;
    background-image:linear-gradient(rgba(0,0,0,0.5), #2f2f2f41), url(../images/legends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
#foot-note{
    padding-top: 150px;
    font-size: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.table-container{
    width: 100%;
    scrollbar-width: none;
    background-color: #C4A484;
    
}
table{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin-left: 5%;
    border-radius: 30px;
    border-collapse: collapse;
    background: linear-gradient(rgba(30,10,69, 0.3), #2f2f2f), url("../images/gamble\ coins.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
caption{
    font-size: 50px;
    color: black;
    margin-bottom: 5%;
    font-family: 'Tilt Prism', cursive;
    margin-top: 5%;
}
th{
    border: 5px solid;
    padding: 11px;
    color: rgb(238, 245, 240);
    border-radius: 20px;
    font-size: 22px;
    width: 15%;
}
td{
    color: white;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
th:nth-child(1){
    border: 2px solid ;
    color: rgb(255, 255, 255);
    background-color: red;
}
th:nth-child(2){
    border: 2px solid white;
    color: aliceblue;
    background-color: steelblue;
}
th:nth-child(3){
    border: 2px solid white;
    color: aliceblue;
    background-color: steelblue;
}
th:nth-child(4){
    border: 0px solid white;
    color: aliceblue;
    background-color: green;
}
#footlist li{
    font-size: 25px;
}
.specialbets-con{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #2f2f2f;
    margin-top: 5%;
    padding-bottom: 50px;  
    margin-bottom: 4%;
}
#spech2{
    font-size: 40px;
    padding: 20px;
    font-family: 'Tilt Prism', cursive;
    color: goldenrod;
}
#spech3{
    font-size: 25px;
    padding: 20px;
    font-family: 'Tilt Prism', cursive;
    color: goldenrod;
}

#specp{
   font-size: 20px;
   text-align: center;
   color: white;
   font-family: 'Poppins', sans-serif;
}
.specialbets-con img{
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;

}

.aboutpage{
    width: 100%;
    height: 400px;
    background: url(../images/About\ bacc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-text{
    width: 40%;
    height: 150px;
    float: left;
    margin-top: 6%;
}
  .aboutpage p{
    color: #fff;
    font-size: 50px;
    margin-left: 30%;
  }
  .aboutpage span{
    color: #009578;
  }
  .aboutpage a{
    font-size: 20px;
    margin-left: 30%;
    color: #fff;
    text-decoration: none;
  }
  .aboutpage a:hover{
    background-color: #0F403C;
    color: #fff;
  }

  .aboutcontent {
    position: relative;
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
.background-image {
    width: 48%;
    height: 550px;
    margin-left: 8%;
    margin-top: 4%;
}

.aboutcontent a{
    padding: 10px 20px;
    height: 30px;
    background: transparent;
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
    font-size: 20px;
    float: right;
    margin-top: 23%;
    margin-right: 30%;
    cursor: pointer;
    transition: .6s;
}
.aboutcontent a:hover{
    transition: .6s;
    background: #2F2F2F;
    color: #fff;
    border: none;
}

.card {
    position: absolute;
    top: 38%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    background-color: #2F2F2F; 
    padding: 20px;
    text-align: center;
    width: 38%;
    height: 250px;
}
.card-text {
    font-size: 35px;
}
.card span{
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 280px){
    .aboutcontent{
        height: 650px;
    }
    .background-image{
    width: 90%! important;
    height: 200px! important;
    }
    .aboutcontent a{
        padding: 10px 20px;
        height: 30px;
        background: transparent;
        border: 2px solid #2f2f2f;
        color: #2f2f2f;
        font-size: 20px;
        float: right;
        margin-top: 120%! important;
        margin-left: 7%;
        font-size: 11px! important;
    }
    .card{
        height: 250px! important;
        width: 85%;
        top: 54%! important;
        left: 52.6%;
        padding: 8px;
    }
    .card p{
        font-size: 15px! important;
    }
    .card span{
        font-size: 15px! important;
    }
}
@media screen and (max-width: 320px){
    .aboutcontent{
        height: 650px;
    }
    .background-image{
    width: 90%;
    height: 200px;
    }
    .aboutcontent a{
        padding: 10px 20px;
        height: 30px;
        background: transparent;
        border: 2px solid #2f2f2f;
        color: #2f2f2f;
        font-size: 20px;
        float: right;
        margin-top: 100%! important;
        margin-left: 7%;
        font-size: 15px! important;
    }
    .card{
        height: 300px;
        width: 85%;
        top: 52.5%;
        left: 52.6%;
        padding: 8px;
    }
    .card p{
        font-size: 20px;
    }
    .card span{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    .aboutcontent{
        height: 650px;
    }
    .background-image{
    width: 90%;
    height: 200px;
    }
    .aboutcontent a{
        padding: 10px 20px;
        height: 30px;
        background: transparent;
        border: 2px solid #2f2f2f;
        color: #2f2f2f;
        font-size: 20px;
        float: right;
        margin-top: 40%;
        margin-right: 35%;
    }
    .card{
        height: 200px;
        width: 87%;
        top: 53%;
        left: 52.6%;
        padding: 14px;
    }
    .card p{
        font-size: 25px;
    }
    .card span{
        font-size: 16px;
    }
}



  .subscribers{
    display: flex;
    width: 100%;
    height: 200px;
    background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/subscribers\ image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .subcribers-card {
    width: 250px;
    margin: 30px;
    margin-left: 7.5%;
    padding: 10px;
    text-align: center;
}
.card-header {
    font-size: 35px;
    font-weight: bold;
    color: #009578;
}
.card-text {
    margin-top: 10px;
    font-size: 25px;
    color: #fff;
}
@media screen and (max-width: 280px){
    .subscribers{
        flex-direction: column;
        height: 440px;
    }
    .subcribers-card{
        margin: 5px! important;
    }
    .card-header{
        font-size: 25px;
    }
    .card-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 320px){
    .subscribers{
        flex-direction: column;
        height: 440px;
    }
    .subcribers-card{
        margin: 5px;
    }
    .card-header{
        font-size: 25px;
    }
    .card-text{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px){
    .subscribers{
        flex-direction: column;
        height: 440px;
        justify-content: center;
    }
    .subcribers-card{
        margin: 5px;
        margin-left: 30%;
    }
    .card-header{
        font-size: 25px;
    }
    .card-text{
        font-size: 20px;
    }
}


.feedback-section{
    display: flex;
    width: 100%;
    height: 580px;
    background: #cccccc;
}
.feedback-container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    float: right;
    margin-right: 5%;
}

.feedback-container h2{
    text-align: center;
}
label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="submit"] {
    background-color: #009578;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.client-review {
    width: 55%;
    margin: 0 auto;
    padding: 30px;
}
.testimonial-section {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}
.testimonial-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.testimonial-text {
    font-style: italic;
    margin-bottom: 20px;
}

.client-name {
    font-weight: bold;
}
@media screen and (max-width: 280px){
    .feedback-section{
        flex-direction: column;
        padding: 0px;
        height: 770px;
    }
    .feedback-container{
        width: 90%;
        height: 350px;
        margin-left: 4%;
        padding: 5px;
    }
    
    .testimonial-container{
        width: 90%;
        height: 280px;
        margin-left: 5%;
        margin: 0%;
    }
    .testimonial-container h2{
        font-size: 15px;
    }
    .testimonial-text{
        font-size: 10px;
    }
    .feedback-container h2{
        font-size: 15px;
    }
    .feedback-container p{
        font-size: 10px;
    }
    input[type="text"],
     textarea {
    width: 90%;
    padding: 4px;
   }
input[type="submit"] {
    padding: 8px 18px;
}
}
@media screen and (max-width: 320px){
    .feedback-section{
        flex-direction: column;
        padding: 0px;
        height: 770px;
    }
    .feedback-container{
        width: 90%;
        height: 350px;
        margin-left: 4%;
        padding: 5px;
    }
    
    .testimonial-container{
        width: 90%;
        height: 280px;
        margin-left: 5%;
        margin: 0%;
    }
    .testimonial-container h2{
        font-size: 15px;
    }
    .testimonial-text{
        font-size: 10px;
    }
    .feedback-container h2{
        font-size: 15px;
    }
    .feedback-container p{
        font-size: 10px;
    }
    input[type="text"],
     textarea {
    width: 90%;
    padding: 4px;
   }
input[type="submit"] {
    padding: 8px 18px;
}
}

@media screen and (max-width: 768px){
    .feedback-section{
        flex-direction: column;
        padding: 0px;
        height: 770px;
    }
    .feedback-container{
        width: 90%;
        height: 350px;
        margin-left: 4%;
        padding: 5px;
    }
    
    .testimonial-container{
        width: 90%;
        height: 280px;
        margin-left: 5%;
        margin: 0%;
    }
    .testimonial-container h2{
        font-size: 15px;
    }
    .testimonial-text{
        font-size: 10px;
    }
    .feedback-container h2{
        font-size: 15px;
    }
    .feedback-container p{
        font-size: 10px;
    }
    input[type="text"],
     textarea {
    width: 90%;
    padding: 4px;
   }
input[type="submit"] {
    padding: 8px 18px;
}
}

.advertisement{
    width: 100%;
    height: 300px;
}
#advertisement-img{
    margin-left: 25%;
}

@media screen and (max-width: 280px){
    .advertisement{
        height: 80px;
    }
    #advertisement-img{
        width: 90%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 320px){
    .advertisement{
        height: 80px;
    }
    #advertisement-img{
        width: 90%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 768px){
    .advertisement{
        height: 200px;
    }
    #advertisement-img{
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 600px){
    .footballbanner{
        height: 400px;
        width: 100%;
    }
    .table-container{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    table{
        margin-left: 5%;
        width: 90%;

    }
    #foot-wlcm{
        font-size: 40px;
        padding-top: 100px;
        white-space: inherit;
    }
    #foot-note{
        padding-top: 70px;
        font-size: 20px;
        -webkit-text-stroke: 0px white;
    }

 td{
    font-size: 10px;
 }
 tr{
    font-size: 10px;
 }
 th{
    font-size: 12px;
 }
 .footer{
    height: 100%;
    width: 100%;
 }
 caption{
    font-size: 45px;
 }
}
@media only screen and (min-width: 600px) and (max-width:1024px){
    .footballbanner{
        height: 400px;
        width: 100%;
    }
    .table-container{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    table{
        margin-left: 5%;
        width: 90%;
    }
    #foot-wlcm{
        font-size: 50px;
        padding-top: 80px;
        white-space: nowrap;
    }
    #foot-note{
        padding-top: 150px;
        font-size: 25px;
        -webkit-text-stroke: 0px white;
    }
    

 td{
    font-size: 18px;
 }
 tr{
    font-size: 18px;
 }
 th{
    font-size: 25px;
 }
 footer{
    height: 500px;
    width: 100%;
 }
 caption{
    font-size: 55px;
 }
 .section3 .btn{
    width: 39%;
 }

}
@media only screen and (min-width: 1400px) and (max-width:2500px){
    html,body{
        font-size: 120%;
    }
}

.vip-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    background: #f3f3f3;
  }
  @media screen and (max-width: 320px){
    .vip-container{
        flex-direction: column;
        width: 100%;
        height:auto;
    }
  }
  @media screen and (max-width: 768px){
    .vip-container{
        flex-direction: column;
        width: 100%;
        height:auto;
    }
  }

  
  .vip-card {
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 35%;
    margin: 30px;
    padding: 30px;
    text-align: center;
  }
  @media screen and (max-width: 320px){
    .vip-card{
        width: 60%;
        height: 300px;
        margin-left: 10%! important;
        padding: 30px;
    }
  }

  @media screen and (max-width: 768px){
    .vip-card{
        margin-left: 28%;
    }
  }

  .vip-card p{
    font-size: 13px;
  }
  @media screen and (max-width: 320px){
    .vip-card p{
        font-size: 10px;
    }
  }

  
  .vip-topic {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    margin-bottom: 10px;
    color: #2f2f2f;
  }
  @media screen and (max-width: 320px){
    .vip-topic {
        font-size: 13px;
    }
  }

  
  .vip-icon {
    font-size: 20px;
    color: #007bff; 
  }
  .vip-img{
     width: 28%;
     height: 80px;
  }
  @media screen and (max-width: 320px){
    .vip-img{
        width: 20%;
        height: 40px;
     }
  }


  .text-beside-icon {
    margin-top: 10px;
    font-size: 18px;
  }

  
  .text-below-icon {
    margin-top: 5px;
    font-size: 14px;
  }

  
  .vip-btn {
    font-size: 15px;
    padding: 5px 15px;
    background: goldenrod;
    border: none;
    color: #fff;
    margin-top: 3%;
  }
  
